@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Disable scrolling on the entire page */
html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: 'Poppins'; /* Global font change */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

.subtitle {
  color: #6b7280;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button {
  width: 100%;
}

.footer {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #6b7280;
}

.link {
  color: #2563eb;
  cursor: pointer;
  text-decoration: underline;
}


