.button {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .button.primary {
    background-color: #ad8a48;
    color: white;
    border: none;
  }
  
  .button.primary:hover {
    background-color: #c0a676;
  }
  
  .button.secondary {
    background-color: #f3f4f6;
    color: #374151;
    border: 1px solid #d1d5db;
  }
  
  /* .button.secondary:hover {
    background-color: #e5e7eb;
  }
  
  .button.danger {
    background-color: #dc2626;
    color: white;
    border: none;
  } */
  
  .button.danger:hover {
    background-color: #b91c1c;
  }
  