/* VideoBackground Component Styles */

.backgroundContainer {
  position: absolute; /* Makes video stretch inside its container */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* Sends video to the background */
}
  
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  